.g-accordion .item {
    -webkit-transition: margin 1s cubic-bezier(0, 1.05, 0, 1);
    transition: margin 1s cubic-bezier(0, 1.05, 0, 1);
    margin: 25px 0px;
  }
  .g-accordion .item .item-header {
    font-size: 18px;
    font-weight: semibold;
    height: 60px;
    color: #0465ac;
  }
  .g-accordion .item .item-body {
    -webkit-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
    max-height: 300px;
    display: block;
    overflow: hidden;
    font-size: 12px;
    font-weight: semibold;
    color: #999;
  }
  .g-accordion .item.item-closed {
    margin: 0px 0px;
  }
  .g-accordion .item.item-closed .item-header {
    font-size: 14px;
    font-weight: semibold;
    color: #0465ac;
  }
  .g-accordion .item.item-closed .item-body {
    max-height: 0px;
  }